body {
    background-color:darkslategrey;
    text-align: center;
}

h1 {
    color:red;
    font-size:300%;
    
}
h2 {
    color:red;
    font-size:175%;
    
}

p {
    color:orangered;
    font-size: 150%;
}

table {
    margin:auto;
}

.inputInfo {
    opacity: 0.9;
    font-size: 75%;
    color: orangered;
}

