body {
    background-color:darkslategrey;
    text-align: center;
}

h1 {
    color:red;
    font-size:300%;
    
}

p {
    color:orangered;
    font-size: 150%;
}

table {
    margin:auto;
}

.inputInfo {
    opacity: 0.5;
    font-size: 75%;
    color: orangered;
}

td{ /*for chess board*/
    background-color:brown;
    width: 60px;
    border:solid grey 1px;
}

/* for sign in form table*/
td.signIn{
    background-color: unset;
    width: unset;
    border:unset;
}

tr{
    height:60px;
}

td.whiteSquare{
    background-color: wheat;
}
